@import "mixins";

/* ==========================================================================
   VARI-ED-BALLS
   ========================================================================== */

$darkgrey: #222;
$highlight: #b3d4fc;
$coffee: #554433;
$latte: #aa8866;
$milk: #fff;
$cream: #ddddcc;
$brownsugar: #cc9988;


/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: $darkgrey;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: $cream;
    text-shadow: none;
}

::selection {
    background: $cream;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $darkgrey;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: lighten($darkgrey, 40%);
    color: darken($darkgrey, 40%);
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html body{
	text-align: center;
	padding: 10px;
}

#shares{
	margin-top: 100px;
}

p.bouncy{
    @extend #reason;
	max-width: 200px;
	margin: auto;
    opacity: 0.4;
}

body {
    background-color: $coffee;
}

h1 {
    font-family: Swingdancer, cursive;
    color: $latte;
    text-shadow: 0.05em 0.05em 0 rgba($latte,0.3);
    font-size: 5em;
    -webkit-text-fill-color: transparent;
    @include linear-gradient(lighten($latte,20%), $latte);
    
    
    -webkit-background-clip: text;
    }

#reason, .thatsall {
    color: $latte;
    text-shadow: -0.1em 0em 1em rgba(darken($coffee,20%),0.2);
    font-weight: bold;
    font-size: 1.3em;
    a {
        color: $cream;
        @include transition;
        &:hover {
            color: $milk;
            }
    }
}

.coffeetime {
    color: $milk;
    font-weight: bold;
}

#more {
    padding: 1em;
}

footer {
    padding-top: 1em;
    width: 50%;
    border-top: 1px solid darken($coffee, 3%);
    display: block;
    margin: 1em auto;
    p {
        color: $latte;
        font-size: 0.8em;
        a {
            color: $cream;
            text-decoration: none;
            @include transition;
            &:hover {
                color: $milk;
            }
        }
    }
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}